@font-face {
    font-family: Gilroy;
    src: url(/Fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: GilroyBold;
    src: url(/Fonts/Gilroy-Bold.ttf);
}
*{
    margin:0;
    max-width: 1440px;
    /* margin: 0 auto; */
}
a{
    text-decoration: none;
} 
.nav-main{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
    height: 174px;
}


.my-nav-sec{
    font-family: Gilroy;
    font-weight: 500;
    line-height: 21px;
    color:#000000;
}
.my-nav-sec>ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}
.my-nav-sec>ul>li>a{
    margin-left: 100px;
    color: #000000;
    
}
.nav-div{
    margin-left: 30px;
}
.nav-btn{
    background-color: #75BF7A;
    width: 182px;
    height: 50px;
    border-radius: 6px;
    top: 87px;
    left: 1178px; 
    text-align: center;
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    border:none;
    color: #FFFFFF;
    cursor: pointer;
}

/* *********************************************First Banner************************************************* */

.firstBannerMain{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#F9F9F9;
    padding: 60px 0px;
}
.firstBannerLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-sub{
    width: 557px;
}
.left-sub>h1{
    font-family: GilroyBold;
    font-size: 61px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
}
.left-sub>p{
    padding-top: 60px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #9E9DA2;
}
.left-sub-two>img{
    padding-right: 30px;
}
.firstBannerRight{
    width: 553px;
    height: 583px;
}
.firstBannerRight>img{
    width: 100%;
    height: 100%;
}

/* *********************************************Second Banner************************************************* */
.secondBannerMain{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.secondBannerMainPortions{
    background-color: #75BF7A;
    width: 85%;
    height: 166px;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondBannerLeft{
    font-family: Gilroy;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.secondBannerRight{
    display: flex;
    justify-content: center;
    align-items:center ;
}

.secondBannerRightInput>input{
    height:67px;
    width: 499px;
    border-radius: 4px;
    border-style: none;
    text-indent: 50px;
}
.secondBannerRightButton>button{
    font-weight: 800;
    font-size: 22px;
    font-family: Gilory;
    width: 260px;
    height: 67px;
    border-radius: 5;
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;


}