@font-face {
    font-family: Gilroy;
    src: url(/Fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: GilroyBold;
    src: url(/Fonts/Gilroy-Bold.ttf);
}
*{
    margin:0;
    max-width: 1440px;
    /* margin: 0 auto; */
}
a{
    text-decoration: none;
} 
.nav-main{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
    height: 174px;
}


.my-nav-sec{
    font-family: Gilroy;
    font-weight: 500;
    line-height: 21px;
    color:#000000;
}
.my-nav-sec>ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}
.my-nav-sec>ul>li>a{
    margin-left: 100px;
    color: #000000;
}
.nav-div{
    margin-left: 30px;
}
.nav-btn{
    background-color: #75BF7A;
    width: 182px;
    height: 50px;
    border-radius: 6px;
    top: 87px;
    left: 1178px; 
    text-align: center;
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    border:none;
    color: #FFFFFF;
    cursor: pointer;
}
.responsiveNav{
    display: none;
}

/* *********************************************First Banner************************************************* */

.firstBannerMain{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#F9F9F9;
    padding: 60px 0px;
}
.firstBannerLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-sub{
    width: 557px;
}
.left-sub>h1{
    font-family: GilroyBold;
    font-size: 61px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
}
.left-sub>p{
    padding-top: 60px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #9E9DA2;
}
.left-sub-two>img{
    padding-right: 30px;
    cursor: pointer;
}
.firstBannerRight{
    width: 553px;
    height: 583px;
}
.firstBannerRight>img{
    width: 100%;
    height: 100%;
}

/* *********************************************Second Banner************************************************* */
.secondBannerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    background-color:#F9F9F9;
}
.secondBannerMainPortions{
    background-color: #75BF7A;
    width: 96%;
    height: 166px;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondBannerLeft{
    font-family: Gilroy;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.secondBannerRight{
    display: flex;
    justify-content: center;
    align-items:center ;
}

.secondBannerRightInput>input{
    height:67px;
    width: 499px;
    border-radius: 4px;
    border-style: none;
    text-indent: 50px;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 600;
    color: #DADADA;
}
.secondBannerRightButton>button{
    margin-left: 15px;
    font-weight: 800;
    font-size: 22px;
    font-family: Gilroy;
    text-transform: uppercase;
    width: 260px;
    height: 67px;
    border-radius: 5px;
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
}
@media only screen and (max-width :576px){
    .nav-main{
        height: 88px;
        justify-content: space-around;
    }
    .my-nav-sec{
        display: none;
    }
    .responsiveNav{
        display: block;
        width: 29px;
        height: 29px;
    }
    .firstBannerMain{
        flex-direction: column-reverse;
        align-items: center;
    }
    .firstBannerRight{
        width: 95%;
    }
    .firstBannerLeft{
        align-items: center;
        justify-content: none;
        height: auto;
    }
    .left-sub{
        width: 320px;
    }
    .left-sub>h1{
        font-family: GilroyBold;
    font-size: 35px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 30px;

    }
    .left-sub>p{
        font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    }
    .left-sub-two{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        width:100%;
    }
    .left-sub-two>img{
        padding-right: 0px;
        width: 152px;
        height: 39px;
    }
    .secondBannerMainPortions{
        height: 249px;
        flex-direction: column;
        justify-content: space-around;
    }
    .secondBannerRight{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
    }
    .secondBannerRightInput>input{
        height:48px;
        width: 400px;
        font-size: 16px;
        text-indent: 100px;
    }
    .secondBannerRightButton>button{
        margin-top: 20px;
        margin-left: 0px;
        font-size: 18px;
        width: 400px;
        height: 48px;    
    }
}

/* *********************************************Third Banner************************************************* */
.thirdBannerMain{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color:#F9F9F9;
}
.thirdBannerHeadings{
    width: 620px;
}
.thirdBannerHeadings>h1{
    font-family: GilroyBold;
    font-size: 46px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    padding-bottom: 30px;
}
.thirdBannerSpan{
    color:#75BF7A;
}
.thirdBannerHeadings>p{
    font-family: Gilroy;
    font-size: 23px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #9E9DA2;
    padding-bottom: 100px;
}
/* *********************************************Fourth Banner************************************************* */
.fourthBannerMain{
    display: flex;
    justify-content: center;
    padding: 75px 0px 175px 0px;
    position: relative;
    background-color:#F9F9F9;
}
.fourthBannerPortionOne{
    width: 290px;
    margin-right: 50px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fourthbannerNumbers{
    position: relative;
}
.fourthbannerNumbers>p{
    position: absolute;
    top: 14px;
    right: 22px;
    color: #75BF7A;
    font-family: Gilroy;
    font-size: 34px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
}
.fourthBannerContent>h2{
    font-family: GilroyBold;
    font-size: 22px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color:#000000;
}
.fourthBannerContent>p{
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    color:#9E9DA2;
}
.fourthBannerPortionTwo{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fourthBannerMainPic{
    position: relative;
}
.fourthBannerCircle{
    position: relative;
    z-index: 1;
}
.fourthBannerMobile{
    position: absolute;
    z-index: 100;
}

.fourthBannerPortionThree{
    width: 290px;
    margin-left: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fourthbannerNumberSecond{
    position: relative;
}
.fourthbannerNumberSecond>p{
    position: absolute;
    top: 13px;
    left: 22px;
    font-family: Gilroy;
    font-size: 34px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
    color: #75BF7A;
}
.fourthBannerContentSecond>h2{
    font-family: GilroyBold;
    font-size: 22px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.fourthBannerContentSecond>p{
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #9E9DA2;
}
.fourthBannerSlider{
    /* z-index: 110; */
    position: absolute;
    bottom: 50px;
    left: 48%;
    
}

/* *********************************************Fifth Banner************************************************* */
.fifthBannerMain{
    background-color:#F9F9F9;
}

.fifthBannerMain>h1{
    text-align: center;
    color: #75BF7A;
    font-family: GilroyBold;
    font-size: 46px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.fifthBannerMain>h1>span{
    color: #75BF7A;
}
.fifthBannerMainSecond{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fifthBannerPic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    width: 79%;
    height: 304px;
    border-radius:10px;
    margin-bottom: 30px;
}
.fifthBannerFlexible{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifthBannerNumber{
    font-family: Gilroy;
    font-size: 88px;
    font-weight: 500;
    line-height: 119px;
    letter-spacing: 0em;
    text-align: left;
    color: #75BF7A;
}

.fifthBannerHeading{
    font-family: Gilroy;
    font-size: 34px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

}
.fifthbannerDescription{
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #9E9DA2;
}
/* *********************************************Footer************************************************* */

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    height: 309px;
}
.footerFriend>h4{
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #272042;
}
.footerFriend>p{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #8B8BA5;
}
.footerButtons>button{
    border-style: none;
    width: 180px;
    height: 46px;
    font-family: GilroyBold;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 15px;
}
.copyrights{
    background-color:#F9F9F9;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #75BF7A;
    padding-bottom: 60px;
}
