@font-face {
    font-family: Soifa;
    src: url(/Fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf);
}
.my-nav{
    background-color: #0065C3;
}

.my-theme>li{
    text-transform: uppercase;
    color: #ffffff !important;
}
.nav-item{
    margin-right: 1.5rem;
    font-family: Sofia;
    font-size: .775rem;
    cursor: pointer;
    font-weight: 900;
}
.nav-item>a{
    color: #ffffff;
}
.navbar-brand{
    margin-right: 50px;
}
.pepsi-btn{
    font-size: 1em;
    font-weight: 600;
    padding: 5px 15px;
    border: 2px solid #ffffff;
    border-radius: 1.8em;
    background: transparent;
    color: #ffffff;
    font-family: Sofia;
    text-transform: uppercase;
    cursor: pointer;
}
.pepsi-btn:hover{
    font-size: 1em;
    font-weight: 600;
    padding: 5px 15px;
    border: 2px solid #ffffff;
    border-radius: 1.8em;
    background-color:#ffffff;
    color: #0065C3;
    font-family: Sofia;
    text-transform: uppercase;
    cursor: pointer;

}