@font-face {
    font-family: Soifa;
    src: url(/Fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf);
}
body{
    max-width: 1400px;
}
.my-nav{
    background-color: #0065C3;
    position: fixed;
    width: 100%;
    z-index: 100;
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

.logo:hover{
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation-duration:0.3s;
}

.my-theme>li{
    text-transform: uppercase;
    color: #ffffff !important;
}
.nav-item{
    margin-right: 1.5rem;
    font-family: Sofia;
    font-size: .775rem;
    cursor: pointer;
    font-weight: 900;
}
.nav-item>a{
    color: #ffffff;
}
.navbar-brand{
    margin-right: 50px;
}
.pepsi-btn{
    font-size: 1em;
    font-weight: 600;
    padding: 5px 15px;
    border: 2px solid #ffffff;
    border-radius: 1.8em;
    background: #0065C3;
    color: #ffffff;
    font-family: Sofia;
    text-transform: uppercase;
    cursor: pointer;
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.pepsi-btn:hover{
    background-color:#ffffff;
    color: #0065C3;
    cursor: pointer;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX ;
    animation-name: flipInX ;
}
/* ----------------------------------first Banner----------------------------------------------------------------------- */

.backgimg{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/Pictures/background.png);
    height: 678px;
    overflow: hidden;
}
.front-1{ 
    height: 678px;
    width: 800px;
    margin-left: -50px ;
    margin-top: 50px;
}

.front-2{
    height: 678px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.space{
    margin: 50px 0px;
}
.banner-btn{
    font-size: 1em;
    font-weight: 600;
    padding: 5px 15px;
    border: 2px solid #ffffff;
    border-radius: 1.8em;
    background: transparent;
    color: #ffffff;
    font-family: Sofia;
    text-transform: uppercase;
    cursor: pointer;
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}
.banner-btn:hover{
    background-color: #ffffff;
    color: #0065C3;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX ;
    animation-name: flipInX ;
}
.front-2>p{
    font-size: .7rem;
    width: 81.282vw;
    max-width: 422px;
    color: #ffffff;
    text-align: center;
}
/* ---------------------------------second Banner---------------------------------------------- */

.backgimg2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000;
    height: 678px;
    overflow: hidden;
}
.front-3{
    position: relative;
}
.main-img{
    /* z-index: 0; */
    margin-right: -150px;
    margin-top: -130px;
    height: 805px;
    width: 1000px;
}
.overr{
    position: absolute;
    top: 50px;
    left: 575px;    
    height: 180px;

}
.front-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}
.front-4-first{
    height: 240px;
    width: 425px;
}
.front-4-second{
    height: 100px;
    width: 425px;
}

.front-5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}
.sizes{
    width: 205px;
    height: 120px;
    background-color: #ffffff;
}
.sizes2{
    width: 205px;
    height: 75px;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 0px;
}
/* ---------------------------------Third Banner---------------------------------------------- */
    
.backimg3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(/Pictures/3banner/zero.png);
    background-position: 50% center;
    height: 678px;
    overflow: hidden;
}
.front-6{
    width: 370px;
}

.front-7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.front-7>img{
    width: 360px;
}
.front-7>h2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

/* ---------------------------------Fourth Banner---------------------------------------------- */
.backimg4{
    display: flex;
    justify-content: space-evenly;
    background-color: #265CC5;
    height: 670px;
    overflow: hidden;
}
.front-8{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.front-81{
    background-color: #1437bf;
    height: 275px;
    width: 370px;
}
.front-81>img{
    height: 225px;
    width: 370px;
}
.front-81>h4{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    padding-top: 15px;
}
.front-82{
    background-color: #1437bf;
    height: 275px;
    width: 370px;
}
.front-82>img{
    height: 225px;
    width: 370px;
}
.front-82>h4{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    padding-top: 15px;
}

.front-9{
    height: 100%;
    width: 900px;
    z-index: 0;
    position: relative;
}
.front-9>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.front-91{
    z-index: 0;
}
.front-91>img{
    position: absolute;
    width: 600px;
    height: 150px;
    z-index: 20;
    right: 0px;
    bottom: 20px;
}

/* ---------------------------------Fivth Banner---------------------------------------------- */

.backimg5{
    display: flex;
    justify-content: space-between;
    height: 678px;
    overflow: hidden;
    background-color: #004795;
}

.front-10{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.front-101{
    height: 293px;
    width: 377px;
    z-index: 10;
}
.front-101>img{
    height: 100%;
    width: 100%;
}
.front-102{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1284px;
    height: 554px;
    z-index: 0;
}
.front-102>img{
    width: 100%;
    height: 100%;
}
.front-103{
    margin-left: 30px;
    width: 404px;
    height: 29px;
    z-index: 10;
}
.front-103>img{
    width: 100%;
    height: 100%;
}
.front-11{
    width: 887px;
    height: 678px;
    z-index: 10;
}
.front-11>img{
    width:100%;
    height: 100%;
}

@media only screen and (max-width: 992px) {
    .backgimg {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .front-1 {
        height: 100%;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }

    .front-2 {
        width: 50%;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 20px;
    }

    .space {
        margin: 20px 0px;
    }
    .backgimg2{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .front-3{
        margin-right: 50px;
        margin-top: 0px;

    }

    .backimg4{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }
    .front-9{
        width: 100%;
    }
    .front-91>img{
        width: 50%;
        height: 35%;
    }

    .front-81{
        margin-top: 20px;
        height: auto;
        width: 90%;
    }
    .front-81>img{
        height: auto;
        width: 100%;
    }
    .front-81>h4{
        padding-top: 10px;
    }
    .front-82{
        margin: 20px 0px;
        height: auto;
        width: 90%;
    }
    .front-82>img{
        height: auto;
        width: 100%;
    }
    .front-82>h4{
        padding-top: 10px;
    }

}