@font-face {
    font-family: Fidel;
    src: url(/font/Fidel-Black/Fidel-Black.ttf);
}
*{
    /* margin: 0 auto; */
    max-width: 1400px;   
}

.nav-btn{
    font: normal normal 900 27px/33px Fidel;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 58px;
    background: #d53434 0 0 no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
    text-align: center;
    border: none;
    width: 217px;
    height: 58px;
    transition: all .3s ease-in-out;
}
.nav-btn:hover{
    color: #6e71c7;
}
.firstnavbar{
    background: transparent url(/images/1stbanner/background2.png);
    overflow: hidden;   
}
.my-row{
    flex-wrap: nowrap;
}
.nav-item>a{
    color: #fff !important;
}
.nav-item>a:hover{
    color: #2c2d4e !important;
}

.counter{
    z-index: 3333!important;
    margin-top: 30px;
    background-color: #fff;
    width: 373px;
    height: 58px;
    border-radius: 29px;
    display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: space-between;
}
.counter>i{
    padding: 0px 30px;
}

.buttoons-2{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.btnn-credit{
    z-index: 3333333 !important;
   background: rgb(30, 30, 30);
    color: #fff;
    border: none;
    margin-left: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 8px 15px;
    font-family: Fidel;
    font-weight: 900;
    border-radius: 0.5rem;
    width: 150px;
    height: 45px;
}
.btnn-credit>img{
    width: 30px;
    height: 30px;
}

/* ----------------------------------------------Second Banner-------------------------------------------------- */
.secBannerMain{
    background-image: url(/images/Secondbaner/background.png);
    width: 100%;
    color: #fff;
    
    height: 778px;
}
.secBannerHeading{
    padding: 60px 0px;
}
.secBannerHeading>h1{
    font-size: 90px;
    text-align: center;
    font-family: Fidel;
    text-transform: uppercase;
}
.secBannerTwoPortions{
    display: flex;
    justify-content: space-evenly;
   
}
.secBannerPortionOne{
    width: 50%;
}
.secBannerPortionOne>p{
    margin-right: 60px;
    font-family: "Roboto-Regular";
    font-size: 28px;
}
/* ----------------------------------------------Third banner-------------------------------------------------- */

.thirdBannerMian{
    height: 778px;
    background-color: #2F559D;
}
.thirdBannerHeading>h1{
    font: normal normal 900 83px/104px Fidel;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 60px 0px;

}
.thirdBannerTwoPortions{
    font-family: Fidel;
    width: 95%;
    display: flex;
    justify-content: space-between;

}
.thirdBannerPortionOne{
    color: #fff;
    width: 64%;
    padding-left: 70px;
}
.thirdBannerPortionOne>h2{
    font: normal normal 900 58px/73px Fidel;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.thirdBannerPortionOne>p{
    line-height: 40px;
}
.whiteSpan{
    font-weight: 400;
    font-size: 37px;
}
.blueSpan{
    font-weight: 400;
    font-size: 36px;
    color: #7BD1FF;
}
.thirdBannerPortionTwo{
    width: 36%;
    color: #fff;
}
.thirdBannerPortionTwo>h2{
    font: normal normal 900 58px/73px Fidel;
    text-transform: uppercase;
    text-align: left;
}
.thirdBannerPortionTwo>p{
    display: flex;
    justify-content: space-between;
    
}
/* ----------------------------------------------Media Query-------------------------------------------------- */



