@font-face {
    font-family: Fidel;
    src: url(/font/Fidel-Black/Fidel-Black.ttf);
}
*{
    margin: 0px auto;
    max-width: 1400px;   
}



.nav-btn{
    font: normal normal 900 27px/33px Fidel;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 58px;
    background: #d53434 0 0 no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
    text-align: center;
    border: none;
    width: 217px;
    height: 58px;
    transition: all .3s ease-in-out;
}
.nav-btn:hover{
    color: #6e71c7;
}
.my-container{
    background-color: #6e71c7;
    background: transparent url(/images/1stbanner/background2.png);
    width: 100%;
    min-height: 125vh;
    background-position: bottom;
    background-repeat: no-repeat;
    height: auto;
    /* overflow: hidden; */
}
.my-row{
    flex-wrap: nowrap;
}