@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: Caveat;
    src: url(/fonts/Caveat-Bold.ttf);
}
body {
    margin: 0;
    font-family: Poppins;
}

nav {
    background-color: #000000;
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 93px;
    align-items: center;
    justify-content: space-around;
    color: #fff;


}
nav>ul>li>img {
    vertical-align: middle;
    width: 165px;
    height: 75.5px;
    list-style-type: none;
    cursor: pointer;
}
.nav-1{
    list-style-type: none;
}
.nav-2 {
    list-style-type: none;
    display: flex;
    cursor:pointer ;
}
.nav-2>li{
    padding: 17px 36px 0px 0px;
    font-size: 16px;
    font-weight: 400;
}

.nav-btn1{
    margin: -20px 0px 0px 0px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #FFFFFF;
    background-color: #000000;
    padding: 20px 16px 20px 16px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.nav-btn1:hover{
    margin: -20px 0px 0px 0px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #000000;
    background-color: #fff;
    padding: 20px 16px 20px 16px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.nav-btn2{
    background-color: #ed1c24;
    color: #fff;
    border-radius: 35px;
    border: 1px solid #ed1c24;
    padding: 20px 16px 20px 16px;
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
    cursor: pointer;   
}
.nav-btn2:hover{    
    background-color: #fff;
    color: #ed1c24;
    border-radius: 35px;
    border: 1px solid #fff;
    padding: 20px 16px 20px 16px;
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
    cursor: pointer;
}
.nav-btn2>span{
    background-color: #fff;
    color: #ed1c24;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
.nav-btn2>span:hover{
    background-color: #ed1c24;
    color: #fff;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
.slider{
    width: 100%;
}

.brands{
    background-color: #000000;
    text-align: center;
    color: #fff;
    margin: 0px;
}
.brand-container{
    padding: 100px 0 100px 0;
    margin-top: 0;
}
.brand-heading {
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}
.salt{
    font-style: oblique;
    font-family: Caveat;
    font-size: 65px;
}
.brand-order{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.brand-order-color{
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.brand-order-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brand-order-button-1{
    background-color: #000000;
    color: #fff;
    width: 174px;
    height: 50px;
    border: 1px solid #ffffff4d;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    margin: 34px 0px 34px 0px;
    cursor: pointer;
}
.brand-order-button-1:hover{
    background-color: #fff;
    color: #000000;
    width: 174px;
    height: 50px;
    border: 1px solid #ffffff4d;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    margin: 34px 0px 34px 0px;
    cursor: pointer;
}

.franchises{
    background-color: #0F0F0F;
    text-align: center;
    color: #fff;
    margin: 0px;
    padding-bottom: 60px;
}
.franchises>img{
    position: absolute;
    right: 30px;
    height: 550px;
}
.restaurant{
    padding: 100px 0 100px 0;
    margin-top: 0;
}
.franchise-heading {
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    
}
.restaurant-franchises{
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}
.restaurant-background{
    z-index: 1;
}
.restaurant-franchises-container{
    width: 450px;
    height: 307px;
}
.animate__heartBeat{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
}
.restaurant-franchises-salt{
    font-family: Caveat;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
}
.restaurant-franchises-salt>h3{
    font-weight: 300;
    font-size: 26px;
}
.franchise-btn{
    margin: 40px 0px 0px 0px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #FFFFFF;
    background-color: #0F0F0F;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.franchise-btn>i{
    background-color: #fff;
    color: #ed1c24;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
.franchise-btn:hover{
    margin: 40px 0px 0px 0px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #0F0F0F;
    background-color: #fff;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.franchise-btn>i:hover{
    background-color: #0F0F0F;
    color: #fff;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}

.express{
    background-color: #000000;
    padding-top: 20px;
    color: #FFFFFF;
    text-align: center;
}
.express-heading{
    font-size: 38px;
    padding-bottom: 25px;
}
.express-imgs{
    display: flex;
    justify-content: space-evenly;
}
.express-imgs>div>img{
    width: 350px;
    height: 250px;
}

.express-franchise{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.express-franchise-container{
    width: 350px;
    padding-bottom: 25px;
}
.express-franchises-salt{
    font-family: Caveat;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
}
.express-franchise-container>h4{
    font-weight: 500;
    font-size: 26px;
    line-height: 10px;
}
.express-btn{
    margin: 20px 0px 0px 0px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #FFFFFF;
    background-color:#000000;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.express-btn>i{
    background-color: #fff;
    color: #ed1c24;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
.express-btn:hover{
    margin: 20px 0px 0px 0px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #000000;
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;  
}
.express-btn>i:hover{
    background-color:#000000;
    color: #fff;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
.express-imgs-2{
    display: flex;
    justify-content: center;

}
.express-imgs-2>div>img{
    width: 350px;
    height: 250px;
    margin-left: 100px;
    margin-right: 100px;
}
.village{
    background-color: #0F0F0F;
    padding-top: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}
.village-heading{
    font-size: 38px;
    padding-bottom: 25px;
}
.village-franchises{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
}
.village-img>div>img{
    width:660px;
}
.village-franchises-container{
    width: 450px;
    height: 307px;
}
.village-franchises-salt{
    font-family: Caveat;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
}
.village-franchises-salt>h3{
    font-weight: 300;
    font-size: 26px;
}
.village-btn{
    margin: 40px 0px 0px 0px;
    border-radius: 35px;
    border: 1px solid #28A745;
    color: #FFFFFF;
    background-color:#28A745;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.village-btn>i{
    background-color: #fff;
    color: #28A745;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
.village-btn:hover{
    margin: 40px 0px 0px 0px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #28A745;
    background-color: #fff;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.village-btn>i:hover{
    background-color: #28A745;
    color: #fff;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
.express-os{
    background-color:#000000;
    padding-top: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}
.express-os-heading{
    font-size: 38px;
    padding-bottom: 25px;
}
.lower{
    font-size: 15px;
}
.express-os-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
.express-os-main{
    width: 380px;
}

.express-os-container-content{
    line-height: 15px ;
    height: 230px;
    background: #FFFFFF;
    color: #000000;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
}
.express-red{
    font-weight: 900;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
}
.express-bold{
    font-weight: 600;
    margin-right: 8px;
    font-size: 24px;
}

.social-heading{
    padding-top: 40px;
    font-size: 34px;
    font-weight: 500;
}
.social-imgs>img{
    width: 250px;
    height: 250px;
    margin: 0px 7px;
}
.footer-main{
    background-color: #0F0F0F;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px;
}
.footer-main>div>ul{
    list-style-type: none;
}
.footer-main>img{
    position: absolute;
    
    left: 30px;
}
.footer-para{
    width: 385px;
    height: 285px;
    z-index: 1;
}
.footer-para>img{
    width: 140px;
    height: 64px;
    cursor: pointer;
}
.footer-para>ul{
    display: flex;
    justify-content: space-evenly;
    margin-left: -100px;
    cursor: pointer;
}
.footer-site{
    width: 206px;
    height: 285px;
    line-height: 50px;   
}
.footer-contact{
    width: 206px;
    height: 285px;
    line-height:40px;  
}
.footer-lineheight{
    line-height:normal;
}
.footer-follow{
    width: 206px;
    height: 285px;
    line-height: 50px;
}
.footer-bold{
    font-size: 18px;
    font-weight: 800;
}
.footer-follow>ul>li>img{
    margin-top: 20px;
    cursor: pointer;
}

.fa-brands{
    color: #fff;
    background-color: #ED1C24;
    border: 1px solid #ED1C24;
    border-radius: 20px;
    margin-right: 10px;
    padding: 15px;
    cursor: pointer;
}

.fa-brands:hover{
    color: #ED1C24;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 10px;
    padding: 15px;
    cursor: pointer;
}
.rights{
    background-color: #000000;
    text-align: center;
    color: #fff;
    margin: 0px;
    padding: 10px 0px;
}