body{
    background-color: #BBB2B5;
}
header{
    display: flex;
    justify-content: center;
}
header>img{
    width :100px;
    height:75px;
}
div{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 12%), inset 0 -2px 0 0 #dadce0;    
    border-radius: 10px;
}



a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color:#BBB2B5;
}
a:active{
    color: white;
}